.backimg{
    opacity: 0.5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { 
    img.backimg {
      left: 50%;
      margin-left: -512px;  
    }
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.formSty {
    padding-top: 5%;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
.example-container > * {
    width: 100%;
}

.btnSty {
    background-color: #2f2fa2;
    color: white;
}

.row1 {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

mat-slide-toggle {
    color: #2f2fa2;
}

a {
    color: #2f2fa2;
}